<div style="margin:30px">
    <div style="text-align: center">
        <h4>Register Form</h4>
        <div style="width:500px;margin:0 auto">
            <div class="form-row">
                <my-input inputtype="text" placeholdertext="Name"></my-input>
            </div>
            <div class="form-row">
                <my-input inputtype="email" placeholdertext="Email"></my-input>
            </div>          
            <div class="form-row">
                <my-input inputtype="text" placeholdertext="UserName"></my-input>
            </div>
            <div class="form-row">
                <my-input inputtype="password" placeholdertext="Password"></my-input>
            </div>
            <div class="form-row">
                <my-input inputtype="password" placeholdertext="Confirm Password"></my-input>
            </div>
            <div class="form-row button-row">
                <button mat-raised-button color="primary" style="width:100%" (click)="Submit()">Register</button>
            </div>
        </div>
    </div>
</div>

